<?xml version="1.0" encoding="utf-8"?>

<launch>
    <param name="GLZ_NAME" value="GLZ01"/>
    
    <include file="$(find movement)/launch/base_move.launch" />
    <include file="$(find movement)/launch/cannon_move.launch" />
    <include file="$(find usb_cam)/launch/usb_cam.launch" />



    

</launch>